.account-page {
    padding: 50px 0;
    background: radial-gradient(ellipse at left, #1E34FF, transparent), radial-gradient(ellipse at right, #C55EFF, transparent);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: rgb(123,115,254) 5px 5px, rgb(178,158,255) 10px 10px, rgb(166,156,254) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    overflow: hidden;
}

    .form-container span {
        font-weight: bold;
        padding: 0 10px;
        color: #555;
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 60px;
    transition: transform 0.5s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

    form .btn:focus {
        outline: none;
    }

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

#Indicator {
    width: 100px;
    border: none;
    background: #0040FF;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 0.5s;
}

#errorLogin {
    color: transparent;
}
