/*ProDucts*/
/*select page number*/
.selection {
    float: right;
}

select {
    border: none;
    padding: 5px;
}

    select:focus {
        outline: none;
    }

.page-btn {
    margin: 0 auto 80px;
}

    .page-btn span {
        display: inline-block;
        /*border: 1px solid black;*/
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }

        .page-btn span:hover {
            background: #00FFFF;
            color: #fff;
        }
