
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<style>
    .content {
        height: 400px;
        text-align: center;
        background: radial-gradient(ellipse at left, #1E34FF, transparent), radial-gradient(ellipse at right, #C55EFF, transparent);
    }

        .content p {
            margin-top: 20px;
            align-content: center;
            color: black;
            margin-left: 86px;
            margin-right: 86px;
        }
</style>
<div class="content">
    <h2>OUR STORY</h2>
    <p>
        A Swiss company focused on innovation and quality, Logitech designs products and experiences that have an everyday place in people's lives. Founded in 1981 in Lausanne, Switzerland, and quickly expanding to the Silicon Valley, Logitech started connecting people through innovative computer peripherals and many industry firsts, including the infrared cordless mouse, the thumb-operated trackball, the laser mouse, and more.
    </p>
    <br />
    <p>
        Since those early days, we have expanded both our expertise in product design and our global reach. For each of our products, we focus on how our customers connect and interact with the digital world. We keep design at the center of everything we create, in every team and every discipline, to create truly unique and meaningful experiences.
    </p>
    <br />
    <p>
        With products sold in almost every country in the world, Logitech has developed into a multi-brand company designing products that bring people together through music, gaming, video and computing. Brands of Logitech include Logitech, Logitech G, ASTRO Gaming, Ultimate Ears, Jaybird, Blue Microphones, and Streamlabs.
    </p>
</div>

